# Coming from pip freeze of the working venv due to some potential conflicts
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic
annotated-types==0.7.0
anthropic==0.28.1
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astrapy==1.5.2
asttokens
async-generator==1.10
async-lru
attrs
azure-core==1.32.0
azure-identity==1.19.0
Babel
backcall
backoff==2.2.1
backports.functools-lru-cache
beautifulsoup4==4.12.3
bitarray==3.0.0
bleach
blinker
boltons
boto3==1.35.53
botocore==1.35.53
Brotli
cached-property
cachetools==5.5.0
cassandra-driver==3.29.2
cassio==0.1.10
certifi==2023.7.22
certipy==0.1.3
cffi
chardet==5.2.0
charset-normalizer
click==8.1.7
colbert-ai==0.2.19
colorama
comm
cryptography
dataclasses-json==0.6.7
datasets==2.19.2
debugpy
decorator
defusedxml
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.16
emoji==2.14.0
entrypoints
eval_type_backport==0.2.0
exceptiongroup
executing
fastjsonschema
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
fqdn
frozenlist==1.5.0
fsspec==2024.3.1
geomet==0.2.1.post1
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.4
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.5.4
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.62.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
hyperframe==6.0.1
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
isoduration
itsdangerous==2.2.0
jedi
Jinja2
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
json5
jsonpatch
jsonpath-python==1.0.6
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-telemetry
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab_server
langchain==0.2.10
langchain-astradb==0.3.3
langchain-community==0.2.9
langchain-core==0.2.22
langchain-google-genai==1.0.6
langchain-google-vertexai==1.0.5
langchain-nvidia-ai-endpoints==0.1.1
langchain-ollama==0.1.1
langchain-openai==0.1.8
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.139
llama-cloud==0.1.4
llama-index==0.10.57
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.57
llama-index-embeddings-azure-openai==0.1.7
llama-index-embeddings-bedrock==0.1.4
llama-index-embeddings-gemini==0.1.7
llama-index-embeddings-langchain==0.1.2
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48.post3
llama-index-llms-anthropic==0.1.17
llama-index-llms-azure-openai==0.1.6
llama-index-llms-bedrock==0.1.7
llama-index-llms-gemini==0.1.10
llama-index-llms-openai==0.1.31
llama-index-llms-vertex==0.1.5
llama-index-multi-modal-llms-gemini==0.1.7
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-index-tools-cassandra==0.1.1
llama-index-vector-stores-astra-db==0.1.7
llama-index-vector-stores-cassandra==0.1.3
llama-parse==0.4.1
lxml==5.3.0
Mako
mamba
MarkupSafe
marshmallow==3.23.0
matplotlib-inline
mistune
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.1
nltk==3.9.1
notebook
notebook_shim
numpy==1.26.4
oauthlib
ollama==0.3.3
openai==1.53.0
orjson==3.10.10
overrides
packaging==24.1
pamela
pandas==2.2.3
pandocfilters
parso
pexpect
pickleshare
pillow==10.4.0
pipdeptree==2.23.4
pkgutil_resolve_name
platformdirs
pluggy
portalocker==2.10.1
prometheus-client
prompt-toolkit
propcache==0.2.0
proto-plus==1.25.0
protobuf==4.25.5
psutil
ptyprocess
pure-eval
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat
pycparser
pycurl==7.45.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
PyJWT
pymongo==4.10.1
pyOpenSSL
pyparsing==3.2.0
pypdf==4.3.1
PySocks
python-dateutil
python-dotenv==1.0.1
python-iso639==2024.10.22
python-json-logger
python-magic==0.4.27
pytz
PyYAML
pyzmq
ragstack-ai==1.1.0
ragstack-ai-colbert==1.0.6
ragstack-ai-langchain==1.4.0
ragstack-ai-llamaindex==1.0.8
RapidFuzz==3.10.1
referencing
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9
ruamel.yaml
ruamel.yaml.clib
s3transfer==0.10.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
Send2Trash
sentence-transformers==3.2.1
shapely==2.0.6
six
smmap==5.0.1
sniffio
soupsieve
SQLAlchemy
stack-data
striprtf==0.0.26
sympy==1.13.3
tabulate==0.9.0
tenacity==8.5.0
terminado
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2
tokenizers==0.20.1
toml==0.10.2
tomli
torch==2.2.1
tornado
tqdm
traitlets
transformers==4.46.1
truststore
types-python-dateutil
typing-inspect==0.9.0
typing-utils
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
unstructured==0.14.5
unstructured-client==0.26.2
uri-template
uritemplate==4.1.1
urllib3
uuid6==2024.7.10
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==3.1.0
wrapt==1.16.0
xxhash==3.5.0
yarl==1.17.1
zipp
zstandard==0.21.0
streamlit
